<p>test works!</p>


<div class="card text-center">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <h5 class="card-title">{{userName}}</h5>
      <p class="card-text">With supporting text below.</p>
      <input type="text"  class="form-control"  [(ngModel)] = "userName">
      <a href="#" class="btn btn-primary" (click)="changename()">Click</a>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>




 <div *ngFor = "let user of users">
  <div [ngSwitch] = "user.status">
      <li *ngSwitchCase="'active'" [ngStyle]="{'color':'blue'}">
          {{user.name}} is active
      </li>
      <li *ngSwitchCase="'Inactive'" [ngStyle]="{'color':'red'}">
          {{user.name}} is InActive
      </li>
      
      <li *ngSwitchDefault [ngStyle]="{'color':'Brown'}">
         no result found 
      </li>
  </div>
</div>
